version: "3.3"

services:
    soa-interne:
        build:
            context: 
                ./SOA_INTERNE
            dockerfile: 
                dockerfile
        networks:
            main_network:
                ipv4_address: 192.168.0.2    
        volumes:
            - ./SOA_INTERNE/named.conf:/etc/bind/named.conf
 
        container_name:
            soa-interne
            
    resolveur-interne:
        build:
            context: 
                ./RESOLVEUR_INTERNE
            dockerfile:
                dockerfile
        ports:
            - "53:53/tcp"
            - "53:53/udp"
        networks:
            main_network:
                ipv4_address: 192.168.0.3
        volumes:
            - ./RESOLVEUR_INTERNE/named.conf:/etc/bind/named.conf
        container_name:
            resolveur-interne
    partage-samba:
        build:
            context:
                ./SMB
            dockerfile:
                dockerfile
        networks:
            main_network:
                ipv4_address: 192.168.0.4
        container_name:
            partage-samba
    atelier:
        build:
            context:
                ./POSTE
            dockerfile:
                Dockerfile
        networks: 
            main_network:
                ipv4_address: 192.168.0.5
        container_name:
            poste-atelier
            
    secretariat:
        build:
            context:
                ./POSTE
            dockerfile:
                Dockerfile
        networks: 
            main_network:
                ipv4_address: 192.168.0.6
        container_name:
            poste-secretariat
                
    direction:
        build:
            context:
                ./POSTE
            dockerfile:
                Dockerfile
        networks: 
            main_network:
                ipv4_address: 192.168.0.7
        container_name:
            poste-direction
            
    commerciaux:
        build:
            context:
                ./POSTE
            dockerfile:
                Dockerfile
        networks: 
            main_network:
                ipv4_address: 192.168.0.8
        container_name:
            poste-commerciaux
            
    compta:
        build:
            context:
                ./POSTE
            dockerfile:
                Dockerfile
        networks: 
            main_network:
                ipv4_address: 192.168.0.9
        container_name:
            poste-compta
            
networks:
  main_network:
    ipam:
      driver: default
      config:
        - subnet: 192.168.0.0/24
  